<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      OrtoApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Información</ion-card-subtitle>
      <ion-card-title>DEMO APP Móvil - ABP</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Se desarrollo esta DEMO sencilla para acompletar la entrega de nuestro proyecto de APB (Aprendizaje Basado en Proyectos) de la Universidad del Sur, con el propósito de
      proponer una aplicación que sea útil para enseñar ortografía a grupos de estudiantes de primeros niveles escolares o incluso, a grupos de gente que quieran reforzar o practicar
      su ortografía.</p>

      <br>

      <p>A pesar de ser una DEMO muy elemental y con un diseño no muy atractivo, se considera que es útil para dar a entender el propósito de la misma y dar una idea de como podría
      evolucionar la aplicación con más tiempo de desarrollo.</p>

      <hr>

      - Ethan Eduardo Fernández Rivas
    </ion-card-content>
  </ion-card>
</ion-content>
