<ion-header>
  <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>
        OrtoApp
      </ion-title>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/alphabet.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Empezemos</ion-card-subtitle>
      <ion-card-title>Bienvenido a OrtoApp</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Con OrtoApp aprenderás de manera sencilla y divertida cómo escribir las palabras de forma correcta
      e identificar errores ortográficos.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
